<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <title>My Site - {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div class="container">

    <div class="row">
        <header class="mb-2">
            {% from 'bootstrap5/nav.html' import render_nav_item %}
            {% from 'bootstrap5/utils.html' import render_messages %}
            {% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <div class="navbar-nav mr-auto">
                        {% if current_user.is_authenticated %}
                            {{ render_nav_item('auth.dashboard','Dashboard' ) }}
                            {{ render_nav_item('transactions.transactions_browse','My Transactions') }}
                            {{ render_nav_item('transactions.transaction_upload','Upload Transactions') }}
                            {% if current_user.is_admin %}
                                {{ render_nav_item('auth.browse_users','User Management' ) }}
                            {% endif %}

                        {% else %}
                            {{ render_nav_item('simple_pages.show', 'index') }}
                        {% endif %}

                        {{ render_nav_item('simple_pages.show','About') }}
                        {{ render_nav_item('simple_pages.show','Welcome') }}
                    </div>
                </div>
                <div class="navbar-nav d-flex">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                My Account
                            </a>
                            <ul class="dropdown-menu " aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" href="{{ url_for("auth.edit_profile") }}">Manage Profile</a></li>
                                <li><a class="dropdown-item" href="{{ url_for("auth.edit_account") }}">Manage Account</a></li>
                                <li><a class="dropdown-item" href="{{ url_for("auth.logout") }}">Logout</a></li>
                            </ul>

                        </li>
                    {% else %}
                        {{ render_nav_item('auth.register','Register' ) }}
                        {{ render_nav_item('auth.login','Login' ) }}
                    {% endif %}
                </div>
            </nav>
        </header>
    </div>

<div class="container-fluid">
    <div class="row">
         <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
              <a href="{{ url_for('simple_pages.show', page="index")}}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <p>&nbsp &nbsp</p><img src="{{ url_for('static', filename='images/read-book.png') }}" width="25" height="25" alt="Picture of logo"><p>&nbsp &nbsp</p>
                <span class="fs-4">Project 4</span>
              </a>

              <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{ url_for("simple_pages.show", page="index")}}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{{ url_for("simple_pages.show", page="page1")}}" class="nav-link">Git</a></li>
                <li class="nav-item"><a href="{{ url_for("simple_pages.show", page="page2")}}" class="nav-link">Docker</a></li>
                <li class="nav-item"><a href="{{ url_for("simple_pages.show", page="page3")}}" class="nav-link">Python/Flask</a></li>
                  <li class="nav-item"><a href="{{ url_for("simple_pages.show", page="page4")}}" class="nav-link">Continuous Integration</a></li>
                  <li class="nav-item"><a href="{{ url_for("simple_pages.show", page="page5")}}" class="nav-link">OOP</a></li>
                  <li class="nav-item"><a href="{{ url_for("simple_pages.show", page="page6")}}" class="nav-link">AAA</a></li>
                  <li class="nav-item"><a href="{{ url_for("simple_pages.show", page="page7")}}" class="nav-link">Calculator Principles</a></li>
                  <li class="nav-item"><a href="{{ url_for("simple_pages.show", page="page8")}}" class="nav-link">Calculator Design</a></li>
                  <li class="nav-item"><a href="{{ url_for("simple_pages.show", page="page9")}}" class="nav-link">Pylint</a></li>
                  <li class="nav-item"><a href="{{ url_for("simple_pages.show", page="about")}}" class="nav-link">About</a></li>
              </ul>
        </header>
    </div>
</div>

    <!-- Your page content -->
    <div class="row">
        {{ render_messages() }}
    </div>
    <div class="row mt-5">

        {% block content %}
        {% endblock %}
    </div>
</div>

{% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
{% endblock %}
<footer class="text-center mt-5">
    Environment: {{ deployment_environment }} - Copyright: {{ year }} {{ format_price(100) }}
</footer>
</body>
</html>